* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	scroll-behavior: smooth;
	text-decoration: none;
	outline: none;
}

:root {
	--primary-color: #960303;
	--secondary-color: #fa7527;
	--black-color: #000000;
	--grey-color: #696868;
	--light-grey-color: #e1dfdf;
	--white-color: #ffffff;

	--shadow: 0 0.1rem 1rem var(--secondary-color);
	--box-radius: 0.3rem;

	font-size: 16px;
}

body {
	overflow-x: hidden;
}

/* General styles **************************************** */

.flex-center {
	display: flex;
	justify-content: center;
	align-items: center;
}

.flex-between {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.flex-col {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: flex-start;
}

.flex-left {
	display: flex;
	justify-content: left;
	align-items: center;
}

.padding-x {
	padding-left: 5%;
	padding-right: 5%;
}

main {
	margin-top: 3.5rem;
}

/* Main button ********************************************* */

.main-btn {
	border: 2px solid var(--secondary-color);
	color: var(--white-color);
	background-color: var(--secondary-color);
	padding: 0.3rem 1rem;
	border-radius: var(--box-radius);
	font-weight: bold;
	transition: all 0.5s ease;
}

.main-btn:hover {
	color: var(--secondary-color);
	background-color: #ffffff9c;
}

/* Header ************************************************** */

.header {
	position: fixed;
	top: 0;
	gap: 2rem;
	width: 100%;
	box-shadow: var(--shadow);
	background-color: var(--white-color);
	z-index: 500;
}

.header-logo img {
	height: 4rem;
}

.navbar {
	gap: 2rem;
	display: none;
}

.navbar a {
	color: var(--primary-color);
	font-weight: bold;
	transition: color 0.5s;
}

.header-icons {
	gap: 1rem;
}

.header-icons i {
	padding: 0.5rem;
	font-size: 1.5rem;
	color: var(--primary-color);
	transition: color 0.5s;
}

.navbar a:hover,
.header-icons i:hover {
	color: var(--secondary-color);
}

.menu-icon {
	display: block;
}

.aside-container {
	position: absolute;
	background-color: var(--white-color);
	top: calc(100% + 0.5rem);
	max-width: 320px;
	right: calc(-320px + 0.5rem);
	padding: 1rem;
	color: var(--grey-color);
	box-shadow: var(--shadow);
	border-radius: var(--box-radius);
	text-align: center;
	transition: all 0.5s linear;
}

/* Shopping Cart ******************************************** */

.cart-container {
	color: var(--grey-color);
}

.cart-title {
	border-bottom: 1px solid var(--light-grey-color);
	padding-bottom: 1rem;
	width: 100%;
	text-align: center;
}

.cart-item {
	padding: 0.5rem 0;
	gap: 0.5rem;
	width: 100%;
}

.cart-item i {
	font-size: 1.5rem;
	transition: opacity 0.5s;
	margin-left: 3rem;
}

.cart-item i:hover {
	opacity: 0.4;
}

.cart-item img {
	width: 5rem;
}

.cart-item-content {
	text-align: left;
	font-size: 0.9rem;
	width: 100%;
}

.cart-item-content h3 {
	margin-bottom: 0.2rem;
}

.cart-item-content .multiply {
	margin: 0.3rem;
}

.cart-container .total {
	border-top: 1px solid var(--light-grey-color);
	width: 100%;
	margin-bottom: 0.5rem;
	padding-top: 1rem;
}

.cart-container .main-btn {
	width: 100%;
}

/* Login Form ********************************************** */

.login-form {
	gap: 1rem;
	color: var(--primary-color);
}

.active {
	right: 0.5rem;
}

.form-input {
	width: 100%;
	padding: 0.5rem;
	border: 2px solid var(--primary-color);
	border-radius: var(--box-radius);
}

/* Mobile Nav ********************************************** */

.mobile-nav {
	position: absolute;
	max-width: 320px;
	min-width: 240px;
	justify-content: flex-start;
	padding-bottom: 3rem;
}

.mobile-nav a {
	padding: 1rem 0.5rem;
	font-weight: bold;
	color: var(--primary-color);
}

.mobile-nav a:hover {
	color: var(--secondary-color);
}

/* Home Slider **********************************************  */

.home-slider {
	position: relative;
	width: calc(100vw * 5);
	max-height: calc(100vh - 5rem);
	overflow: hidden;
	position: relative;
	object-fit: cover;
	display: flex;
	justify-content: center;
	z-index: 20;
	align-items: center;
}

.home-slider-item img {
	width: 100%;
	height: 100%;
	z-index: 50;
	transition: all 0.5s ease;
}

.home-slider-item img.active-slider {
	transform: scale(1.2);
}

.home-slider-content {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	height: 99%;
	color: var(--white-color);
	flex-direction: column;
	text-align: center;
	gap: 1rem;
}

.home-slider-content h3 {
	border-radius: var(--box-radius);
	font-size: 2rem;
	background-color: #00000096;
	padding: 1rem;
	border-radius: var(--box-radius);
}

.home-slider-content span {
	color: var(--secondary-color);
}

.slider-left-btn,
.slider-right-btn {
	color: var(--secondary-color);
	border: 1px solid var(--secondary-color);
	background-color: transparent;
	width: 1.5rem;
	height: 1.5rem;
	font-size: 1rem;
	transform: rotate(45deg);
	margin: 1rem;
	transition: all 0.5s ease;
	z-index: 10;
	position: absolute;
}

.slider-left-btn:hover,
.slider-right-btn:hover {
	background-color: var(--secondary-color);
	color: var(--white-color);
}

.slider-left-btn i,
.slider-right-btn i {
	transform: rotate(-45deg);
}

.slider-left-btn {
	left: 0;
}

.slider-right-btn {
	right: 80%;
}

/* Media Queries ***************************************** */
@media screen and (min-width: 768px) {
	:root {
		font-size: 18px;
	}

	/* Header ***********/

	.navbar {
		display: flex;
	}

	.mobile-nav {
		display: none;
	}

	.menu-icon {
		display: none;
	}
}

@media screen and (min-width: 768px) {
	/* Header ***********/
}
